body {
  background: #000;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 100;
  padding: 0;
}

body.control {
  color: #ee0;
}

body.player {
  color: #eee;
}

h1 { font-weight: 100; padding: 0 0 0.5em 0; margin:0;}

.note-input {
  margin: 0 auto;
  width: 90%;
  height: 20em;
  border: 10px solid #ee0;
  position: relative;
}

.status-display {
  font-family: Courier, monospace;
  font-weight: bold;
  color: #080;
  margin-bottom: 0.5em;
  text-align: center;
}

.status-display.error {
  color: #800;
}

#canvas {
  width: 100%; height: 200px;
  border: 1px solid #222;
}

.tools {
  margin-top: 1em;
  text-align: center;
}

#panic {
  font-size: 2em;
}
#clickable { height: 1000px; text-align: center; font-size: 3em; background: #ccc; color: #000;}