body {
  background: #000;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 100;
  padding: 0;
}

body.control {
  color: #ee0;
}

body.player {
  color: #eee;
}
body.about {
  color: #ccf;
}

.about p {
  width: 20em;
}

footer {
  margin-top: 5em;
  display: block;
  color: #fff;
  text-align: center;
}

a:link, a:visited {
  color: #cc0;
}
a:hover {
  color: #ff0;
}

fieldset {
  border: none;
  text-align: center;
}

fieldset label {
  font-size: 1em;
}

fieldset input {
  width: 1.5em;
  height: 1.5em;
  border: 1px solid black;
}


h1 { font-weight: 100; padding: 0 0 0.5em 0; margin:0;}

.note-input {
  display: block;
  margin: 0 auto;
  width: 98%;
  height: 25em;
  border: 5px solid #ee0;
  border-radius: 10px;
  background: #222;
  /* position: relative; */
}

.status-display {
  font-family: Courier, monospace;
  font-weight: bold;
  color: #080;
  margin: 0.5em 0;
  text-align: center;
}

.status-display.error {
  color: #800;
}

.note-output {
  width: 100%; height: 200px;
  border: 1px solid #222;
}

.tools {
  margin-top: 1em;
  text-align: center;
}

#panic {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-size: 2em;
  background: #c00;
  color: #fff;
  border-radius: 3px;
  border: 1px solid #f00;
}
#panic:active {
  background: #800;
  border: 1px solid #800;
}
#clickable { height: 1000px; text-align: center; font-size: 3em; background: #ccc; color: #000;}